@import '../../global';

.todo-calendar {
    margin: 0 0 0 auto;
}

.todo-set-due {
    @include makeTooltipPretty();
}

.tippy-tooltip [x-circle] {
    background-color: transparent;
}

.calendar-ok-button {
    background-color: $light-grey;
    color: $black;
    p {
        text-align: center;
        width: 100%;
    }
}
