@import '../../global';

.todo-set-priority {
    @include makeTooltipPretty();
}

.todo-priorities-container {
    display: flex;
    justify-content: center;
    > div {
        cursor: pointer;
    }
}
