@import '../global';

.button {
    background-color: $white;
    transition: background-color $quick;
    &:hover {
        background-color: $grey;
    }

    display: flex;
    align-items: center;

    border: none;
    padding: 0;
    min-height: $standard-height;
    font-size: $font-web;
    cursor: pointer;
    width: 100%;
}

@include makeResponsive() {
    .button {
        font-size: $font-mobile;
    }
}
