$white: #ffffff;
$light-grey: #eaeaea;
$grey: #bbbbbb;
$black: #000000;
$quick: 0.2s;
$font-web: 1.5rem;
$font-mobile: 1rem;
$responsive-break-point: 900px;
$standard-height: 75px;
$standard-left-pad: 33px;

.icon-button {
    cursor: pointer;
    margin: 5px;
}
.leftmost-button {
    margin-left: auto;
}
.margin-right {
    margin-right: 15px;
}

@media screen and (max-width: 900px) {
    .App {
        width: 100%;
    }
}

@mixin makeResponsive() {
    @media screen and (max-width: $responsive-break-point) {
        @content;
    }
}

@mixin makeTooltipPretty() {
    background-color: $white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 10px;
    p {
        margin: 5px;
        color: $black;
        font-weight: 700;
    }
}
